{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ConfCrunch{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'semantic/semantic.css' %}">
</head>
<body>
    <header>
        <div class="ui menu">
            <a class="item" href="/">ConfCrunch.org</a>
            <a class="item" href="/">Home</a>
            <a class="item" href="https://github.com/ribalba/confcrunch" target="_blank">Contact</a>
        </div>
    </header>

    <div class="ui container" style="margin-top: 20px;">
        {% block content %}
        <!-- Page-specific content goes here -->
        {% endblock %}
    </div>

    <script src="{% static 'jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'semantic/semantic.js' %}"></script>
    <script>
    {% block jsscript %}
    {% endblock %}
    </script>

</body>
</html>
